@model MRTmvc.Models.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
